div {
    font-family: '돋움',Dotum;
}


div#cosum_button {
    background: url(https://raw.githubusercontent.com/ermuks/itemchuop/master/img/ItemList/cosum/item_back.png) no-repeat;
    width: 156px;
    height: 126px;
    text-align: center;
    font-size: 9pt;
    color: white;
    cursor: pointer;
    overflow: hidden;
}
div#cosumicon {
    height: 50px;
    padding-top: 25px;
}
div#cosumname {
    padding: 16px;
}

div#itembackground {
    height: 0px;
}

div#itembacktopleft {
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    background: url(img/Item/Frame/cover.png);
    width: 53px;
    height: 43px;
}

div#itembacktop {
    background: url(img/Item/Frame/top.png);
    width: 261px;
    height: 13px;
}

div#itembackbottom {
    background: url(img/Item/Frame/bottom.png);
    width: 261px;
    height: 13px;
}

div#iconlayout {
    float: left;
    width: 82px;
    height: 82px;
    margin-left: 7px;
}

div#itemicon {
    width: 82px;
    height: 82px;
    background: url(img/Item/ItemIcon/base.png);
}

div#itemclassb {
    background: url(img/Item/ItemIcon/4.png);
    width: 90px;
    height: 80px;
}

div#itemnormalinfo, div#iteminfo, div#potential, div#itemoption, div#itemsoul, div#itemdefault {
    background: url(img/Item/Frame/line.png);
    width: 261px;
}

div#itemnormalinfo, div#iteminfo, div#itemoption {
    min-height: 40px;
}

div#potential {
    font-size: 8.6pt;
    color: white;
    padding-top: 4px;
    padding-left: 7px;
    padding-bottom: 2px;
}

div#potendata {
    margin-top: 1px;
    margin-left: 4px;
}

div#iteminfo {
    height: 150px;
    padding-top: 8px;
}

div#starforce {
    margin-top: 0px;
}

div#star {
    float: left;
    background: url('img/Item/Star/Star0.png');
    width: 11px;
    height: 10px;
    margin-left: -1px;
}

div#stary {
    float: left;
    background: url('img/Item/Star/Star.png');
    width: 11px;
    height: 10px;
    margin-left: -1px;
}

div#starb {
    float: left;
    background: url('img/Item/Star/Star1.png');
    width: 11px;
    height: 10px;
    margin-left: -1px;
}

div#starblank {
    float: left;
    width: 5px;
    height: 10px;
}

div#star1 {
    height: 10px;
}

div#star2 {
    padding-top: 8px;
    height: 10px;
}

div#star1 {
    margin-left: 49px;
    width: 163px;
}

div#star2 {
    margin-left: 78px;
    width: 107px;
}

div#itemsoulname {
    font-size: 10.5pt;
    margin-top: 8px;
    width: 261px;
    text-align: center;
    font-weight: bold;
    color: rgb(192,255,64);
}

div#itemname {
    font-size: 10.5pt;
    margin-top: 3px;
    width: 261px;
    text-align: center;
    font-weight: bold;
    color: rgb(255,255,255);
}

div#itemclass {
    margin-top: 6px;
    width: 261px;
    text-align: center;
    font-size: 8.6pt;
    color: rgb(255,255,255);
}

div#itemtrade {
    margin-top: 1px;
    width: 261px;
    text-align: center;
    font-size: 8.6pt;
    color: rgb(255,192,128);
    padding-bottom: 11px;
}

div#itemname.normal {
    color: rgb(255,255,255);
}

div#itemname.lv0 {
    color: rgb(192,192,192);
}

div#itemname.lv1 {
    color: rgb(255,128,64);
}

div#itemname.lv2 {
    color: rgb(64,192,255);
}

div#itemname.lv3 {
    color: rgb(128,0,192);
}

div#itemname.lv4 {
    color: rgb(255,255,0);
}

div#itemname.lv5 {
    color: rgb(192,255,64);
}

div#itemname.lv6 {
    color: rgb(255,0,64);
}

div#dotline {
    background: url(img/Item/Frame/dotline.png);
    width: 261px;
    height: 2px;
}

div#addpower {
    float: left;
    width: 166px;
    margin-right: 3px;
    padding-top: 3px;
}

div#itemaddpowertext {
    float: left;
    width: 160px;
    font-size: 8.6pt;
    color: rgb(153,153,153);
    text-align: right;
    margin-right: 12px;
}

div#addp {
    float: right;
    background: url(img/Item/Summary/incline/plus.png);
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-right: 1px;
}

div#add0 {
    float: right;
    background: url(img/Item/Summary/incline/0.png);
    width: 19px;
    height: 26px;
    margin-right: 1px;
}

div#add1 {
    float: right;
    background: url(img/Item/Summary/incline/1.png);
    width: 14px;
    height: 26px;
    margin-right: 1px;
}

div#add2 {
    float: right;
    background: url(img/Item/Summary/incline/2.png);
    width: 18px;
    height: 26px;
    margin-right: 1px;
}

div#add3 {
    float: right;
    background: url(img/Item/Summary/incline/3.png);
    width: 17px;
    height: 26px;
    margin-right: 1px;
}

div#add4 {
    float: right;
    background: url(img/Item/Summary/incline/4.png);
    width: 20px;
    height: 26px;
    margin-right: 1px;
}

div#add5 {
    float: right;
    background: url(img/Item/Summary/incline/5.png);
    width: 17px;
    height: 26px;
    margin-right: 1px;
}

div#add6 {
    float: right;
    background: url(img/Item/Summary/incline/6.png);
    width: 18px;
    height: 26px;
    margin-right: 1px;
}

div#add7 {
    float: right;
    background: url(img/Item/Summary/incline/7.png);
    width: 18px;
    height: 26px;
    margin-right: 1px;
}

div#add8 {
    float: right;
    background: url(img/Item/Summary/incline/8.png);
    width: 19px;
    height: 26px;
    margin-right: 1px;
}

div#add9 {
    float: right;
    background: url(img/Item/Summary/incline/9.png);
    width: 19px;
    height: 26px;
    margin-right: 1px;
}

div#reqlevel {
    float: left;
    padding-top: 7px;
    width: 172px;
}

div#reqlevelimg {
    background: url(img/Item/Equip/Can/reqLEV.png);
    width: 49px;
    height: 6px;
    margin-left: 5px;
}

img {
image-rendering: pixelated;
}

div#potenlevel {
float: left;
margin-right: 5px;
width: 236px;
height: 13px;
padding-left: 16px;
padding-bottom: 2px
}

div#potenlevel.r {
    background: url('img/Item/Potential/1.png') no-repeat;
    color: rgb(102,255,255);
}

div#potenlevel.e {
    background: url('img/Item/Potential/2.png') no-repeat;
    color: rgb(153,102,255);
}

div#potenlevel.u {
    background: url('img/Item/Potential/3.png') no-repeat;
    color: rgb(255,204,0);
}

div#potenlevel.l {
    background: url('img/Item/Potential/4.png') no-repeat;
    color: rgb(204,255,0);
}

div#potenlevel.g {
    background: url('img/Item/Potential/5.png') no-repeat;
    color: rgb(224,224,224);
}

div#itemoption {
padding: 6px 0px;
}

div#itemoptiondetail {
font-size: 8.6pt;
margin-left: 10px;
color: white;
}

div#reqstat {
float: left;
padding-top: 7px;
width: 172px;
}

div#reqSTRimg {
float: left;
background: url(img/Item/Equip/Can/reqSTR.png) no-repeat;
width: 21px;
height: 6px;
padding-left: 54px;
margin-left: 5px;
margin-bottom: 2px;
}

div#reqLUKimg {
float: left;
background: url(img/Item/Equip/Can/reqLUK.png) no-repeat;
width: 21px;
height: 6px;
padding-left: 54px;
margin-left: 5px;
margin-bottom: 2px;
}

div#reqDEXimg {
float: left;
background: url(img/Item/Equip/Can/reqDEX.png) no-repeat;
width: 21px;
height: 6px;
padding-left: 54px;
margin-left: 5px;
}

div#reqINTimg {
float: left;
background: url(img/Item/Equip/Can/reqINT.png) no-repeat;
width: 21px;
height: 6px;
padding-left: 54px;
margin-left: 5px;
}


font#addop {
color: rgb(192,255,64);
}

font#upop {
color: rgb(128,255,255);
}

div#itemabil {
float: left;
margin-left: 13px;
margin-top: 4px;
width: 237px;
height: 16px;
}

div#itemjob {
float: left;
margin-left: 13px;
margin-top: 4px;
}

div#Jobbg {
background: url(img/Item/Job/expand.png);
width: 237px;
height: 40px;
}

div#itemsoul {
padding-left: 11px;
padding-top: 4px;
padding-bottom: 4px;
width: 250px;
}

div#isoul {
padding-top: 1.4px;
font-size: 9pt;
}

div#isoul.name {
    color: rgb(255, 255, 68);
}

div#isoul.charge {
    color: rgb(255, 255, 255);
}

div#isoul.pasv {
    color: rgb(255, 255, 255);
}

div#isoul.skill {
    color: rgb(255, 136, 17);
}

div#itemdefault {
    padding-left: 11px;
    width: 250px;
}

div#dft {
    font-size: 8.6pt;
}

div#dft.lucky {
    padding-top: 3px;
    color: rgb(255, 136, 17);
}
